<h1>Welcome!</h1>
<h2>This is my first RoR application. It might take you 5-10 minutes to follow this live demo.<br>
Please follow my instructions for every next step.. </h2>

<p>(This is the first time I play with RoR, I really don't know what will happen if you dont follow my instruction exactly.)</p>
<p>If this live demo doesn't work out, you can find my source code and MYSQL dump at github. Anything wrong, please e-mail me.</p>

<%= link_to 'Click here to start', twitterlinks_path %>
